* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 36px auto;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: border-color 250ms ease;
}

.form input::placeholder {
  color: #808080;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  width: 91px;
  height: 40px;

  border: none;
  border-radius: 8px;

  background: #4e75ff;
  color: #fff;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  transition: background-color 250ms ease;
}

.form button:hover,
.form button:focus {
  background: #6c8cff;
}

.load-more-btn {
  display: block;
  margin: 32px auto;
  padding: 12px 28px;

  background-color: #4e75ff;
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color 250ms ease;
}

.load-more-btn:hover,
.load-more-btn:focus {
  background-color: #6c8cff;
}

.load-more-btn.hidden {
  display: none;
}
