.gallery {
  width: 1128px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  background-color: #fff;
  overflow: hidden;
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;

  transition: transform 250ms ease;
}

.gallery-link:hover .gallery-image {
  transform: scale(1.03);
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 4px 8px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  font-size: 12px;
  line-height: 1.33;
  color: #2e2f42;
}

.info-item b {
  font-weight: 600;
}
